.vibrar { 
    animation: vibrar 0.4s ease-in-out infinite;
  }
  
  @keyframes vibrar {
    0% {
      transform: translateX(-2px);
      
    }
    50% {
      transform: translateX(2px);
      
    }
    100% {
      transform: translateX(-2px);
      
    }
  }
  .img-uno, .img-cinco, .titulo-sobremi, .edad, .profesion, .titulo-contacto, .parrafo-contacto, .nombre, .correo, .asunto, .borrar{
    position: relative;
    animation: izquierda 3s;
  }

  @keyframes izquierda{
    0%{
      opacity: 0;
      left: -100px;
    }
    100%{
      opacity: 1;
      left: 0px;
    }
  }
  .img-dos, .img-tres, .titulo-galeria, .parrafo-galeria, .firma, .titulo-museo, .parrafo-museo{
    position: relative;
    animation: caida 3s;
  }

  @keyframes caida{
    0%{
      opacity: 0;
      top: -100px;
    }
    100%{
      opacity: 1;
      top: 0px;
    }
  }
  .img-seis, .img-siete, .parrafo{
    position: relative;
    animation: subida 3s;
  }
  @keyframes subida{
    0%{
      opacity: 0;
      bottom: -100px;
    }
    100%{
      opacity: 1;
      bottom: 0px;
    }
  }
  .img-cuatro, .img-ocho, .nombre-sobremi, .fecha, .apellido, .numero, .mensaje, .enviar{
    position: relative;
    animation: derecha 3s;
  }
  @keyframes derecha{
    0%{
      opacity: 0;
      right: -100px;
    }
    100%{
      opacity: 1;
      right: 0px;
    }
  }
  .img-sobremi, .card, .formulario{
    position: relative;
    animation: opacidad 3s;
  }
  @keyframes opacidad {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  .img-flork{
    position: relative;
    animation: flork 5s;
  }

  @keyframes flork{
    0%{
      left: -300px;
      opacity: 0;
    }
    100%{
      left: 0px;
      opacity: 1;
    }
  }