.titulo-error{
    font-size: 120px;
}
.msj-error{
    font-size: 18px;
    text-align: justify;
}
.flork{
    width: 100%;
    transform: rotateY(200deg);
}

.centrar-img{
    display: inline-flex;
    justify-content: end;
    flex-direction: column;
}

