  /* Estilos del main */
  .main {
    background-color: rgb(240, 240, 240);
  
    .fondo-banner {/* Estilos de Bienvenida */
      padding: 150px 0px;
      background-image: url(../assets/img/inicio/banner.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      .logo {

        .bienvenido{  
          font-size: 95px;
        }
        .intro{
          font-size: 20px;
          margin: 0;
        }
        .flork-artista{
          border-radius: 100%;
          width: 300px;
        }
      }
    } 
    .espacio {
       padding: 100px 0px; 
     }
     .section-dos{
       padding-top: 50px;
       margin-top: 50px;
       padding-bottom: 50px;
       margin-bottom: 50px;
       background-color: #fff;
       .img-mobil{
         display: none;
       }
     }
  }
  .img-section{
    width: 500px;
    height: 350px;
    box-shadow: 0px 0px 10px 0px gray;
  }
  .box-contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    .section-titulo {
      padding-bottom: 12px;
      border-bottom: 2px solid map-get($color,Negro); /* Se agrega un color del map */
    }
    .section-parrafo {
      font-size: 18px;
      text-align: justify; 
    }
    .boton {
      border: none;
      width: 110px;
      padding: 10px;
      color: #fff;
      border-radius: 2px;
      background-color: $colorBotones; /* Variable */
      transition: background-color 0.5s;
      @include efecto-hover(omitido,rgba(0, 0, 0, 0.7),pointer, 0.5)/* Color de letra, Color de fondo, tipo de cursor,  tiempo de transision */
    }
  }
                      
