@media (max-width: 992px) {
    .fondo-banner {
      background-image: none !important;
    }
    .main .espacio {
      padding: 25px 0px; 
    }
    button:focus {
      outline: none; }
    .icon-menu {
      padding: 5px;
      font-size: 40px;
      color: #fff; }
    .barra-menu {
      background-color: $colorMenuResponsive; }
    .icon-menu, .icon-home, .icon-user, .icon-image, .icon-camera, .icon-phone, .responsive-enviar {
      display: inline-block; }
    .navbar-brand h1 {
      color: $colorH1Responsive }
    .navbar-nav {
      border-top: 1px solid #fff; }
    .navbar-nav .nav-item {
      display: flex;
      justify-content: center; }
    .navbar-nav .nav-item .nav-link {
      width: 200px;
      color: $colorLetraMenuResponsive; }

    .fondo-banner{
      background-color: #fff;
      padding-top: 100px !important;
      padding-bottom: 25px !important;
    }
    .bienvenido{
      text-align: center !important;
      font-size: 45px !important;
    }
    .intro{
      text-align: justify !important;
    }
    .box-contenido .section-titulo{ 
      margin-top: 10px;
      text-align: center;
    }
    .section-dos{ 
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }
    .img-escritorio, .enviar{
      display: none;
    }
    .section-dos .img-mobil{
      display: block !important;
    }
    .box-contenido .boton{
      width: 100%;
      padding: 10px;
      color: white;
      background-color: black;
    }
    .footer .redesSociales{
      padding: 15px;
      font-size: 50px;
      flex-direction: column;
    }
    .footer p{
      display: block;
    }
    /* **************************** */
    /* PAGINA SOBRE MI - RESPONSIVE */
     /* **************************** */
     .img-sobremi{
      margin: 50px 0px 10px 0px;
     }
  
     .box-informacion > h2{
      text-align: center;
    }
    /* *************************** */
    /* PAGINA GALERIA - RESPONSIVE */
    /* *************************** */
    .head-galeria{
      margin-top: 50px;
    }
    .galeria{
      text-align: center;
    }
    /***********************************************/
    /********** ESTILOS DE PAGINA MUSEO ************/
    /***********************************************/
    .head-museo{
      margin-top: 50px;
    }
    /***********************************************/
    /********** ESTILOS DE PAGINA CONTACTO **********/
    /************************************************/
    .head-contacto{
      margin-top: 50px;
    }
    .formulario{
      width: 100% !important;
    }
    .nombre, .apellido, .correo, .numero, .asunto, .mensaje,.formulario{
      box-shadow: 0px 0px 0px 1px gray;
    }
    .grupo-btn{
      width: 100%;
      flex-direction: column;
    }

    .responsive-enviar{
      background-color: rgb(1, 88, 1) !important;
    }
    .borrar{
      background-color: rgb(194, 0, 0) !important;
    }

    .grupo-btn .enviar, .borrar, .responsive-enviar{
      width: 100% !important;
      margin-bottom: 10px;
    }
    /************************************************/
    /********** ESTILOS DE ERROR 404 **************/
    /************************************************/
    .espacio-responsive{
      padding-top: 50px !important;
    }
    /************************************************/
    /********** ESTILOS DE PAGINA MEME **************/
    /************************************************/
    .boton-meme{
      display: none;
    }


  }