$colorMenu: rgb(255, 255, 255, 0.75);
$colorH1: #000;
$colorLetraMenu: #000;
$colorBotones: #000;
$colorFooter: #000;

/* Varibles responsive */
$colorMenuResponsive: #000;
$colorH1Responsive:  #fff;
$colorLetraMenuResponsive: #fff;