/* Variables Desktop */
$colorMenu: #000;
$colorH1: #fff;
$colorLetraMenu: #fff;
$colorBotones: #000;
$colorFooter: #000;

/* Varibles responsive */
$colorMenuResponsive: #000;
$colorH1Responsive:  #fff !important;
$colorLetraMenuResponsive: #fff;