@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?t8xdmj");
  src: url("fonts/icomoon.eot?t8xdmj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?t8xdmj") format("truetype"), url("fonts/icomoon.woff?t8xdmj") format("woff"), url("fonts/icomoon.svg?t8xdmj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-image:before {
  content: "\e90d";
}

.icon-camera:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e942";
}

.icon-user:before {
  content: "\e971";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-menu, .icon-home, .icon-user, .icon-image, .icon-camera, .icon-phone, .btn-check {
  display: none;
}

.barra-menu {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.75);
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-brand h1 {
  color: #000;
  margin: 0 !important;
}

.navbar-nav .nav-item {
  padding: 0 !important;
}

.navbar-nav .nav-item .nav-link {
  padding: 20px;
  color: #000;
  font-size: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

/* Estilos de logo */
.fondo-banner {
  background-image: url(../IMG/INICIO/banner.jpg);
  background-size: cover;
  background-position-y: 190%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fondo-banner .container {
  text-align: center;
}

.fondo-banner .container img {
  margin-top: 100px;
}

/* Estilos del main */
.main {
  background-image: url(../IMG/INICIO/MAIN/fondo-main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main .espacio {
  padding: 100px 0px;
}

.section-dos {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-dos .img-mobil {
  display: none;
}

.img-section {
  width: 500px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 0px;
}

.box-contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-contenido .section-titulo {
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.box-contenido .section-parrafo {
  text-align: justify;
}

.box-contenido .boton {
  border: none;
  width: 100px;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  background-color: black;
}

.box-contenido .boton:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
}

.box-img-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-img-sobremi .img-sobremi {
  width: 76%;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 0px;
}

.box-informacion > h2 {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.box-informacion .lista li {
  list-style: none;
}

.box-informacion .lista li p {
  font-size: 18px;
  text-align: justify;
}

.negrita {
  font-weight: bold;
}

.firma img {
  width: 200px;
}

.head-galeria .parrafo-galeria {
  text-align: center;
}

.galeria .col {
  margin-bottom: 10px;
}

.card {
  border: none;
  margin-top: 35px;
  box-shadow: 0px 0px 5px 0px;
  background-color: transparent;
}

.list-group-item {
  background-color: transparent;
}

.btn-card {
  width: 100%;
  color: white !important;
  background-color: black;
}

.btn-card:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.footer {
  padding: 50px 0px;
  background-color: black;
}

.footer p {
  margin-bottom: 0;
  color: #fff;
}

.footer .redesSociales {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .redesSociales .icon-instagram, .icon-youtube, .icon-twitter {
  color: #fff;
  font-size: 40px;
}

.footer .redesSociales .icon-youtube:hover {
  color: red;
}

.footer .redesSociales .icon-twitter:hover {
  color: rgb(0, 204, 255);
}

.footer .redesSociales .icon-instagram:hover {
  color: rgb(255, 0, 234);
}

.footer .redesSociales a:hover {
  text-decoration: none;
}

.footer .container-img {
  text-align: center;
}

.footer .img-footer {
  width: 70%;
}

@media (max-width: 992px) {
  .main .espacio {
    padding: 25px 0px;
  }
  button:focus {
    outline: none;
  }
  .icon-menu {
    padding: 5px;
    font-size: 40px;
    color: #fff;
  }
  .barra-menu {
    background-color: black;
  }
  .icon-menu, .icon-home, .icon-user, .icon-image, .icon-camera, .icon-phone {
    display: inline-block;
  }
  .navbar-brand h1 {
    color: #fff;
  }
  .navbar-nav {
    border-top: 1px solid #fff;
  }
  .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
  }
  .navbar-nav .nav-item .nav-link {
    width: 200px;
    color: #fff;
  }
  .fondo-banner .container img {
    width: 100%;
    margin-top: 100px;
  }
  .box-img {
    text-align: center;
  }
  .box-contenido .section-titulo {
    margin-top: 10px;
    text-align: center;
  }
  .section-dos {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .img-escritorio {
    display: none;
  }
  .section-dos .img-mobil {
    display: block;
  }
  .box-contenido .boton {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
  }
  .footer .redesSociales {
    padding: 15px;
    font-size: 50px;
    flex-direction: column;
  }
  .footer p {
    display: block;
  }
  /* **************************** */
  /* PAGINA SOBRE MI - RESPONSIVE */
  /* **************************** */
  .img-sobremi {
    margin: 50px 0px 10px 0px;
  }
  .box-informacion > h2 {
    text-align: center;
  }
  /* *************************** */
  /* PAGINA GALERIA - RESPONSIVE */
  /* *************************** */
  .head-galeria {
    margin-top: 50px;
  }
  .galeria {
    text-align: center;
  }
  /***********************************************/
  /********** ESTILOS DE PAGINA MUSEO ************/
  /***********************************************/
  .head-museo {
    margin-top: 50px;
  }
}/*# sourceMappingURL=estilos.css.map */