/* Herramientas */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Variables Desktop */
/* Varibles responsive */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?t8xdmj");
  src: url("fonts/icomoon.eot?t8xdmj#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?t8xdmj") format("truetype"), url("fonts/icomoon.woff?t8xdmj") format("woff"), url("fonts/icomoon.svg?t8xdmj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-image:before {
  content: "\e90d";
}

.icon-camera:before {
  content: "\e90f";
}

.icon-phone:before {
  content: "\e942";
}

.icon-user:before {
  content: "\e971";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.vibrar {
  animation: vibrar 0.4s ease-in-out infinite;
}

@keyframes vibrar {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
.img-uno, .img-cinco, .titulo-sobremi, .edad, .profesion, .titulo-contacto, .parrafo-contacto, .nombre, .correo, .asunto, .borrar, .bienvenido {
  position: relative;
  animation: izquierda 3s;
}

@keyframes izquierda {
  0% {
    opacity: 0;
    left: -100px;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}
.img-dos, .img-tres, .titulo-galeria, .parrafo-galeria, .firma, .titulo-museo, .parrafo-museo {
  position: relative;
  animation: caida 3s;
}

@keyframes caida {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.img-seis, .img-siete, .parrafo {
  position: relative;
  animation: subida 3s;
}

@keyframes subida {
  0% {
    opacity: 0;
    bottom: -100px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
.img-cuatro, .img-ocho, .nombre-sobremi, .fecha, .apellido, .numero, .mensaje, .enviar, .intro {
  position: relative;
  animation: derecha 3s;
}

@keyframes derecha {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}
.img-sobremi, .card, .formulario {
  position: relative;
  animation: opacidad 3s;
}

@keyframes opacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img-flork {
  position: relative;
  animation: flork 5s;
}

@keyframes flork {
  0% {
    left: -300px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}
.simbolos-redes, .footer .redesSociales .icon-instagram, .footer .redesSociales .icon-twitter, .footer .redesSociales .icon-youtube { /* fueron aplicados en las clases de las redes sociales (footer) */
  color: #fff;
  font-size: 40px;
  transition: all 0.5s;
}

.boton {
  border: none;
  width: 100px;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  background-color: #000; /* Variable */
  transition: background-color 0.5s;
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.boton:hover {
  cursor: pointer;
  color: omitido;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5;
}

/* Pagina Web */
.icon-menu, .icon-home, .icon-user, .icon-image, .icon-camera, .icon-phone, .btn-check, .responsive-enviar {
  display: none;
}

.barra-menu {
  z-index: 1;
  background-color: #000; /* Variable */
}
.barra-menu .navbar {
  padding: 0;
}
.barra-menu .navbar-brand {
  padding: 0 !important;
}
.barra-menu .navbar-brand h1 {
  color: #fff; /* Variable */
  margin: 0 !important;
}

.navbar-nav .nav-item {
  padding: 0 !important;
}
.navbar-nav .nav-item .nav-link {
  padding: 20px;
  color: #fff; /* Variable */
  font-size: 20px;
  transition: all 0.5s;
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
  /* Color de letra, Color de fondo, tipo de cursor,  tiempo de transision */
}
.navbar-nav .nav-item .nav-link:hover {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  background-color: rgb(240, 240, 240);
  transition: all 0.5s;
}

/* Estilos del main */
.main {
  background-color: rgb(240, 240, 240);
}
.main .fondo-banner { /* Estilos de Bienvenida */
  padding: 150px 0px;
  background-image: url(../assets/img/inicio/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.main .fondo-banner .logo .bienvenido {
  font-size: 95px;
}
.main .fondo-banner .logo .intro {
  font-size: 20px;
  margin: 0;
}
.main .fondo-banner .logo .flork-artista {
  border-radius: 100%;
  width: 300px;
}
.main .espacio {
  padding: 100px 0px;
}
.main .section-dos {
  padding-top: 50px;
  margin-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #fff;
}
.main .section-dos .img-mobil {
  display: none;
}

.img-section {
  width: 500px;
  height: 350px;
  box-shadow: 0px 0px 10px 0px gray;
}

.box-contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-contenido .section-titulo {
  padding-bottom: 12px;
  border-bottom: 2px solid #000; /* Se agrega un color del map */
}
.box-contenido .section-parrafo {
  font-size: 18px;
  text-align: justify;
}
.box-contenido .boton {
  border: none;
  width: 110px;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
  background-color: #000; /* Variable */
  transition: background-color 0.5s;
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.box-contenido .boton:hover {
  cursor: pointer;
  color: omitido;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5;
}

.box-img-sobremi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-img-sobremi .img-sobremi {
  width: 75%;
  border-radius: 100%;
  box-shadow: 0px 0px 50px 0px;
}

.box-informacion h2 {
  font-size: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.box-informacion .lista li {
  list-style: none;
}
.box-informacion .lista li p {
  font-size: 18px;
  text-align: justify;
}
.box-informacion .lista li p .negrita {
  font-weight: bold;
}
.box-informacion .firma img {
  width: 200px;
}

.head-galeria .titulo-galeria {
  font-size: 50px;
}
.head-galeria .parrafo-galeria {
  font-size: 18px;
}

.galeria .col {
  margin-bottom: 10px;
}

.head-contacto .titulo-contacto {
  font-size: 50px;
}
.head-contacto .parrafo-contacto {
  font-size: 18px;
}

.centro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.centro .formulario {
  width: 40%;
  padding: 20px;
  box-shadow: 0px 0px 5px 0px;
}
.centro .formulario .nombre, .centro .formulario .apellido, .centro .formulario .correo, .centro .formulario .numero, .centro .formulario .asunto, .centro .formulario .mensaje {
  border: 0;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.centro .formulario input[type=number]::-webkit-inner-spin-button,
.centro .formulario input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.centro .formulario textarea {
  resize: none;
}
.centro .formulario .grupo-btn {
  display: flex;
  justify-content: space-between;
}
.centro .formulario .grupo-btn .enviar, .centro .formulario .grupo-btn .borrar, .centro .formulario .grupo-btn .responsive-enviar {
  border: 0;
  width: 49%;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #000; /* Variable */
  transition: background-color 0.5s;
}
.centro .formulario .grupo-btn .borrar {
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.centro .formulario .grupo-btn .borrar:hover {
  cursor: omitido;
  color: omtido;
  text-decoration: none;
  background-color: red;
  transition: all 0.5s;
}
.centro .formulario .grupo-btn .enviar, .centro .formulario .grupo-btn .responsive-enviar {
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.centro .formulario .grupo-btn .enviar:hover, .centro .formulario .grupo-btn .responsive-enviar:hover {
  cursor: omitido;
  color: omtido;
  text-decoration: none;
  background-color: green;
  transition: all 0.5s;
}
.centro input:focus {
  box-shadow: 0px 0px 5px 1px;
  outline: none;
}
.centro .formulario .mensaje:focus {
  box-shadow: 0px 0px 5px 1px;
  outline: none;
}

.flork-meme {
  width: 100px;
}

.head-museo .titulo-museo {
  font-size: 50px;
}
.head-museo .parrafo-museo {
  font-size: 18px;
}

.card {
  border: none;
  margin-top: 35px;
  box-shadow: 0px 0px 5px 0px;
  background-color: transparent; /* Se agrega un color del map */
}
.card .list-group-item {
  background-color: transparent; /* Se agrega un color del map */
}
.card .btn-card {
  width: 100%;
  color: white; /* Se agrega un color del map */
  background-color: #000; /* Variable */
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
  /* Color de letra, Color de fondo, tipo de cursor,  tiempo de transision */
}
.card .btn-card:hover {
  cursor: omitido;
  color: #fff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.5s;
}

.footer {
  padding: 50px 0px;
  background-color: #000; /* Varaiable */
}
.footer .container-img {
  text-align: center;
}
.footer .img-footer {
  width: 70%;
}
.footer .redesSociales {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer .redesSociales a:hover {
  text-decoration: none;
}
.footer .redesSociales .icon-youtube {
  /* Aplicando un extend */
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.footer .redesSociales .icon-youtube:hover {
  cursor: omitir;
  color: red;
  text-decoration: none;
  background-color: omitir;
  transition: all 0.5s;
}
.footer .redesSociales .icon-twitter {
  /* Aplicando un extend */
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.footer .redesSociales .icon-twitter:hover {
  cursor: omitir;
  color: rgb(0, 204, 255);
  text-decoration: none;
  background-color: omitir;
  transition: all 0.5s;
}
.footer .redesSociales .icon-instagram {
  /* Aplicando un extend */
  /* Los mixin estan agregado en la mayoria de los botones de la pagina web */
}
.footer .redesSociales .icon-instagram:hover {
  cursor: omitir;
  color: rgb(255, 0, 234);
  text-decoration: none;
  background-color: omitir;
  transition: all 0.5s;
}
.footer p {
  margin-bottom: 0;
  color: #fff;
}

.titulo-error {
  font-size: 120px;
}

.msj-error {
  font-size: 18px;
  text-align: justify;
}

.flork {
  width: 100%;
  transform: rotateY(200deg);
}

.centrar-img {
  display: inline-flex;
  justify-content: end;
  flex-direction: column;
}

/* Cambios para resolucion <= 992px */
@media (max-width: 992px) {
  .fondo-banner {
    background-image: none !important;
  }
  .main .espacio {
    padding: 25px 0px;
  }
  button:focus {
    outline: none;
  }
  .icon-menu {
    padding: 5px;
    font-size: 40px;
    color: #fff;
  }
  .barra-menu {
    background-color: #000;
  }
  .icon-menu, .icon-home, .icon-user, .icon-image, .icon-camera, .icon-phone, .responsive-enviar {
    display: inline-block;
  }
  .navbar-brand h1 {
    color: #fff !important;
  }
  .navbar-nav {
    border-top: 1px solid #fff;
  }
  .navbar-nav .nav-item {
    display: flex;
    justify-content: center;
  }
  .navbar-nav .nav-item .nav-link {
    width: 200px;
    color: #fff;
  }
  .fondo-banner {
    background-color: #fff;
    padding-top: 100px !important;
    padding-bottom: 25px !important;
  }
  .bienvenido {
    text-align: center !important;
    font-size: 45px !important;
  }
  .intro {
    text-align: justify !important;
  }
  .box-contenido .section-titulo {
    margin-top: 10px;
    text-align: center;
  }
  .section-dos {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .img-escritorio, .enviar {
    display: none;
  }
  .section-dos .img-mobil {
    display: block !important;
  }
  .box-contenido .boton {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: black;
  }
  .footer .redesSociales {
    padding: 15px;
    font-size: 50px;
    flex-direction: column;
  }
  .footer p {
    display: block;
  }
  /* **************************** */
  /* PAGINA SOBRE MI - RESPONSIVE */
  /* **************************** */
  .img-sobremi {
    margin: 50px 0px 10px 0px;
  }
  .box-informacion > h2 {
    text-align: center;
  }
  /* *************************** */
  /* PAGINA GALERIA - RESPONSIVE */
  /* *************************** */
  .head-galeria {
    margin-top: 50px;
  }
  .galeria {
    text-align: center;
  }
  /***********************************************/
  /********** ESTILOS DE PAGINA MUSEO ************/
  /***********************************************/
  .head-museo {
    margin-top: 50px;
  }
  /***********************************************/
  /********** ESTILOS DE PAGINA CONTACTO **********/
  /************************************************/
  .head-contacto {
    margin-top: 50px;
  }
  .formulario {
    width: 100% !important;
  }
  .nombre, .apellido, .correo, .numero, .asunto, .mensaje, .formulario {
    box-shadow: 0px 0px 0px 1px gray;
  }
  .grupo-btn {
    width: 100%;
    flex-direction: column;
  }
  .responsive-enviar {
    background-color: rgb(1, 88, 1) !important;
  }
  .borrar {
    background-color: rgb(194, 0, 0) !important;
  }
  .grupo-btn .enviar, .borrar, .responsive-enviar {
    width: 100% !important;
    margin-bottom: 10px;
  }
  /************************************************/
  /********** ESTILOS DE ERROR 404 **************/
  /************************************************/
  .espacio-responsive {
    padding-top: 50px !important;
  }
  /************************************************/
  /********** ESTILOS DE PAGINA MEME **************/
  /************************************************/
  .boton-meme {
    display: none;
  }
}
/* Video */
.memes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.video {
  width: 100%;
  height: 600px;
}/*# sourceMappingURL=estilos.css.map */